@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --detail-color: #7209b7;
}

button {
  font-weight: bold;
}

input:focus {
  border: 2px solid #000000;
  outline: none;
}

.text-button {
  color: #0963b7;
}
.page {
  /* flex min-h-screen flex-col items-start justify-start w-full p-4 */
  @apply flex min-h-screen flex-col items-start justify-start w-full p-4;
}
select {
  @apply border-2 border-gray-300 rounded-lg;
  @apply w-full p-2 my-2;
  @apply bg-gray-500; /* Teste com outra cor */
  @apply text-black;
  @apply font-bold;
  @apply cursor-pointer;
}
button {
  width: 100%;
  background-color: var(--detail-color);
  color: black;
  border: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.hoverable:hover {
  @apply hover:cursor-pointer hover:bg-gray-100 hover:border-gray-400 text-black;
}

/* button:hover{
  background-color: #0963b7;
  color: white;
  scale: 1.1;
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
